<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <footer>
      <div class="footer_firstColumn">
        <p class="footer_firstColumn--p">Техническая поддержка</p>
        <div class="footer_phone">
          <a class="footer_phone--a" href="tel:+79777777776">
            <img class="footer_phone--iconPhone" src="../public/img/iconPhone.png" alt="">
            <p class="footer_phone--p">+79649545716</p>
          </a>
        </div>
        <div class="footer_email">
          <a class="footer_email--a" href="mailto:support@hsikoz.beget.tech">
            <img class="footer_email--iconEmail" src="../public/img/iconEmail.png" alt="">
            <p class="footer_email--p">all@sikoz.beget.tech</p>
          </a>
        </div>
      </div>
      <div class="footer_secondColumn">
        <a style="margin-right: 23px"  target="_blank" href="http://maths.sikoz.beget.tech/">ОТ "Математика"</a>
        <a href="https://vk.com/club183557013" target="_blank"><img class="footer_secondColumn--iconVk" src="../public/img/iconVk.png" alt=""></a>
        <a href="https://tlgg.ru/@Jamplepap"><img class="footer_secondColumn--iconTelegram" src="../public/img/iconTelegram.png" alt=""></a>
        <a href="tel:+79649545716"><img class="footer_secondColumn--iconPhoneFooter" src="../public/img/iconPhoneFooter.png" alt=""></a></div><br/>
      </div>
    </footer>
  </body>
</html>
