<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <div class="header_left">
        <a href="./">
          <img class="header_left--logo" src="../public/img/iconLogo.png" alt="logo">
        </a>
      </div>
      <div class="header_right">
        <a class="header_right--callback" href="tel:+79649545716"><p>обратная связь</p></a>
        <!-- <a href="#"><img class="header_right--entry" src="../public/img/iconExit.png" alt="entry"></a> -->
      </div>
    </header>
  </body>
</html>
